<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>all</id>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASSWORD}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>all</id>
            <name>Maven Repository Manager</name>
            <url>${env.MAVEN_URL:https://repo.maven.apache.org/maven2/}</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>